/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* дополнительный вторичный цвет текст #FFFFFF */
/* цвет акцента #2196F3 */

/* цвет фона хедера #FFFFFF */
/* первичный цвет фона #E5E5E5 */
/* вторичный цвет фона #F5F4FA */
/* дополнительный вторичный цвет фона #2F303A */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --primery-background-color: #e5e5e5;
  --secondary-backgroud-color: #2f303a;
  --accent-color: #2196f3;
}
body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: #ffffff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0px;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 2px solid tomato;
}
/* Heder*/
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo .web {
  color: var(--accent-color);
}
.logo .studio {
  color: var(--title-text-color);
}
.logo .primery-studio {
  color: var(--secondary-text-color);
}
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 51px;
}
.site-nav .link {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item + .item {
  margin-left: 50px;
}
.auth-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* ---------------------------------------------------------------- */
/* W-E-B-S-T-U-D-I-O */

/* Section hero */
.section-hero {
  background-color: var(--secondary-backgroud-color);
  text-align: center;
  max-width: 1600px;
  margin: auto;
}
.section-title-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  /* outline: 2px solid tomato; */
  margin-top: 0;
  padding-top: 200px;
  padding-bottom: 30px;
}
.button-hero {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 11px 34px;
  margin-top: 40px;
  margin-bottom: 200px;
}
.section .button-hero:hover {
  color: var(--title-text-color);
}
/* Section features  */

.features-list {
  display: flex;
  padding-top: 94px;
  padding-bottom: 0;
}
.features-list .item:not(:last-child) {
  margin-right: 30px;
}
.section-title-features {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.section-features {
  font-size: 14px;
  line-height: 1.71;
}
/* Section service */

.service-list {
  display: flex;
  padding-top: 50px;
}
.service-list .item {
  display: block;
}
.service-list .item + .item {
  margin-left: 30px;
}
.section-title-service,
.section-title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  padding-top: 94px;
  color: var(--title-text-color);
}
/* Section team */

.team-list {
  display: flex;
  padding-top: 50px;
  padding-bottom: 94px;
  justify-content: space-evenly;
  background-color: #f5f4fa;
}
.team-list .item:not(:last-child) {
  margin-right: 30px;
}
.section-title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-text-color);
  text-align: center;
}
.team-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
/* P-O-R-T-F-O-L-I-O */
/* Filter buttton portfolio*/
.site-nav .button-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.site-nav .button-filter:hover,
.site-nav .button-filter:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}
/* Projects section portfolio */
.project {
  font-size: 16px;
  line-height: 1.87px;
  color: var(--primary-text-color);
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

/* Footer-------------------------------------------- */
.footer {
  background-color: var(--secondary-backgroud-color);
  max-width: 1600px;
  margin: auto;
}
.footer-list {
  display: block;
}
.auth-nav .address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
.auth-nav .link-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.auth-nav .link-address:hover,
.auth-nav .link-address:focus {
  color: var(--accent-color);
}
